<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Mercancia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./src/css/icofont/icofont.min.css">
    <link rel="stylesheet" href="./src/css/index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-brand">Registro de mercancia</div>
        </nav>
    </header>
    <div class="container" id="app">
        <form>
            <div v-if="RegisterProveedores.length > 0" id="cardProveedores" class="btn-toolbar alert alert-info d-flex justify-content-center mt-4" role="toolbar" aria-label="Registros disponibles">
                <div v-for="provedor in RegisterProveedores" class="btn-group mr-3 mt-1" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Abrir Registro" @click="openRegister(provedor)">{{provedor}}</button>
                    <button type="button" class="btn btn-danger icofont-bin" data-toggle="modal" data-target="#modalDeleteRegister" @click="setSelectProveedor(provedor)"></button>
                </div>
            </div>

            <button v-if="RegisterProveedores.length > 0" class="btn btn-primary" type="button" @click="newRegister">Nuevo Registro</button>

            <div id="modalDeleteRegister" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="my-modal-title">Eliminando registro de proveedor</h5>
                            <button class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Quiere eliminar todos los registros del proveedor "{{proveedorSelect}}"?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" type="button" data-dismiss="modal" @click="deleteRegisterOfProveedor(proveedorSelect)">Aceptar</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divider"></div>
            
            <div v-if="lectorVisible" id="container-escaner" class="text-center">
                <div v-if="scannerActivo" id="laserImage"></div>
                <button v-if="!scannerActivo" class="btn btn-danger" id="btn-scanear" @click="activateScanner">Escanear</button>
                <div id="lector" aria-describedby="helpScanner" v-bind:class="{darkBackground: !scannerActivo}"></div>
                <canvas></canvas>
            </div>
            <small v-if="scannerActivo" id="helpScanner" class="form-text text-muted">Para detener el scanner, presione el boton a lado del campo "Codigo de barras"</small>

            <div v-if="proveedorActual.trim().length === 0" class="form-group" :key="keyProveedor">
                <label for="Proveedor">Proveedor:</label>
                <div v-if="otroProveedor" class="input-group mb-3">
                    <input type="text" class="form-control" v-model="ProveedorName" placeholder="Nombre del Proveedor" v-focus>
                    <div class="input-group-append" @click="bakcToSelect">
                        <button class="btn btn-secondary" type="button" id="button-addon2">Regresar</button>
                    </div>
                </div>
                <select v-if="!otroProveedor" id="Proveedor" class="custom-select" aria-describedby="helpProveedor" v-model="ProveedorName" ref="otherProveedor" @click="verifyProveedorSelected">
                    <option value="vacio">Selecciones un proveedor..</option>
                    <option v-for="proveedor in ListaProveedores" v-if="!existRegisterOfProveedor(proveedor)">{{proveedor}}</option>
                    <option value="" @click="forceUpdateProveedor">Otro</option>
                </select>
                <small id="helpProveedor" class="form-text text-muted">Una vez hecho el primer registro el proveedor no se podra modificar, a menos que elimine todos los registros</small>
                <small id="helpProveedor" class="form-text text-muted">{{console}}</small>
            </div>

            <div class="form-group">
                <label for="CodigoBarras">Codigo de barras:</label>
                <div class="input-group mb-3">
                    <input id="CodigoBarras" class="form-control" type="text" placeholder="Ingrese el codigo de barras" v-model="CodigoBarrasName">
                    <div class="input-group-append" @click="">
                        <button class="btn" v-bind:class="{'btn-success': !scannerActivo, 'btn-danger': scannerActivo}" type="button" id="button-addon2" @click="activateLector">{{textButtonScanner}}</button>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="Producto">Producto:</label>
                <input id="Producto" class="form-control" type="text" placeholder="Nombre del producto" v-model="ProductoName">
            </div>

            <div class="form-group">
                <label for="Unidad">Unidad:</label>
                <select id="Unidad" class="custom-select" name="" v-model="UnidadName">
                    <option value="">Seleccione unidad...</option>
                    <option>Kilos</option>
                    <option>Piezas</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Cantidad">Cantidad</label>
                <input id="Cantidad" class="form-control" type="text" name="" placeholder="Cantidad recibida" v-model="CantidadName">
            </div>

            <div v-if="warnings.length > 0" class="alert alert-warning" style="margin-top: 15px;">
                <h3>Advertencias:</h3>
                <ul>
                    <li v-for="warning in warnings">{{warning}}</li>
                </ul>
            </div>

            <div class="btn btn-warning form-check-inline" type="reset" id="cleanCamps" ref="cleanCamps">Limpiar Campos</div>

            <div class="btn btn-primary" id="addRegister" ref="addRegister">Añadir Registro</div>
        </form>

        <div id="divider"></div>

        <div v-if="proveedorActual.trim().length !== 0" class="alert alert-secondary" role="alert">
            Proveedor actual: {{proveedorActual}}
        </div>

        <div class="containerTable">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Unidad</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody :key="tableProducts">
                <tr v-for="product in products" v-if="product.proveedor === proveedorActual">
                    <td>{{product.codigo}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.unidad}}</td>
                    <td>{{product.cantidad}}</td>
                    <td>
                        <div class="btn btn-warning icofont-edit btn-spaceB" data-toggle="modal" data-target="#modalEdit" @click="setRegisterSelect(product)"></div>
                        <div class="btn btn-danger icofont-bin btn-spaceB" data-toggle="modal" data-target="#modalDelete" @click="setProductSelect(product.codigo)"></div>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                
            </tfoot>
        </table>
        </div>

        <!-- Modal para editar y eliminar -->
        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eiminando registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    ¿Quiere eliminar al producto con codigo: {{productSelect}}?.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" @click="removeProducto">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitleEdit" aria-hidden="true" :key="editPrducto">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitleEdit">Modificando registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="CodigoBarrasEdit">Codigo de barras:</label>
                            <input  id="CodigoBarrasEdit" class="form-control" type="text" placeholder="Ingrese el codigo de barras" v-model="dataEdit.codigo">
                        </div>
                        
                        <div class="form-group">
                            <label for="ProductoEdit">Producto:</label>
                            <input id="ProductoEdit" class="form-control" type="text" placeholder="Nombre del producto" v-model="dataEdit.name">
                        </div>

                        <div class="form-group">
                            <label for="UnidadEdit">Unidad:</label>
                            <select id="UnidadEdit" class="custom-select" name="" v-model="dataEdit.unidad">
                                <option value="">Seleccione unidad...</option>
                                <option>Kilos</option>
                                <option>Piezas</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="CantidadEdit">Cantidad</label>
                            <input id="CantidadEdit" class="form-control" type="text" name="" placeholder="Cantidad recibida" v-model="dataEdit.cantidad">
                        </div>

                        <div v-if="warningsEdit.length > 0" class="alert alert-warning" style="margin-top: 15px;">
                            <h3>Advertencias:</h3>
                            <ul>
                                <li v-for="warning in warningsEdit">{{warning}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" @click="updateProduct()">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ref="cancelEdit">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <button v-if="products.length > 0" class="btn btn-success form-check-inline mt-2" @click="createFile">Generar archivo</button>
        <button v-if="products.length > 0" class="btn btn-danger mt-2" data-toggle="modal" data-target="#modalDeleteAlRegister">Eliminar todos los registros</button>
        
        <div class="modal fade" id="modalDeleteAlRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eiminando todos los registros</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    ¿Quiere eliminar todos los productos registrados hasta el momentos?.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" @click="removeAllRegister()">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./src/scripts/index.js"></script>

    <script src="https://unpkg.com/quagga@0.12.1/dist/quagga.min.js"></script>
    <script  src="./src/scripts/lector.js"></script>

    <script>
        var sound = new Audio("./src/audio/beep6.mp3");
        if ('serviceWorker' in navigator) {
            console.log("inicando service worker");
            navigator.serviceWorker.register('sw.js').then(function(registration) {
                console.log('Service worker registration succeeded:', registration);
            }).catch(function(error) {
                console.log('Service worker registration failed:', error);
            });
        } else {
            console.log('Service workers are not supported.');
        }
    </script>
</html>